spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/flm_project
    username: postgres
    password: 1
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8081/realms/demo

# KEYCLOAK CONFIG
keycloak:
  auth-server-url: http://localhost:8081/realms/demo
  realm: demo
  resource: spring-app
  credentials:
    secret: 5MBq5j4wVYsPsXlR3outUBVd3lb04PQO
  bearer-only: true
  use-resource-role-mappings: true
  main:
    server-url: http://localhost:8081
    realm: master
    clientId: admin-cli
    username: admin
    password: admin

# CORS CONFIG
cors:
  allowed-origins:
    - http://localhost:8010 # Фронт


# DEBUG SPRING SECURITY
logging:
  level:
    org:
      springframework:
        security: DEBUG


# SERVICES
services:
  notification: http://localhost:8087
  auth: http://localhost:8080
  frontend: http://localhost:8010

# SERVICES ENDPOINTS
paths:
  notification:
    send-mail: ${services.notification}/api/notification/send
    public-send-mail: ${services.notification}/api/public-notification/send
  auth:
    reset-request: ${services.auth}/api/auth/reset-password
    verification-request: ${services.auth}/api/auth/verify-email
  frontend:
    reset-request: ${services.frontend}/reset-password
    login: ${services.frontend}/login
