keycloak:
  auth-server-url: http://localhost:8081/realms/demo
  realm: demo
  resource: spring-app
  credentials:
    secret: 5MBq5j4wVYsPsXlR3outUBVd3lb04PQO
  bearer-only: true
  use-resource-role-mappings: true
  main:
    server-url: http://localhost:8081
    realm: master
    clientId: admin-cli
    username: admin
    password: admin

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/flm_project
    username: postgres
    password: 1
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8081/realms/demo

cors:
  allowed-origins:
#    - http://localhost:4200
    - http://localhost:8082 # Фронт


logging:
  level:
    org:
      springframework:
        security: DEBUG
